*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Concert One";
}
body{
    padding: 0px calc(3vw);
    background-color: #b5bdc7;
    position: relative;
}

/* desde 1000px para abajo */
/* hasta los 500 */
.contenedor-general{
    /* border: 2px solid red; */


    transition: filter .5s;
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    padding: 20px;
    overflow: hidden;
}
.contenedor-header{
    /* padding: 10px; */
    /* border: 1px solid green; */
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* justify-content: space-around; */
}
   .contenedor-foto-perfil-header{
        display: flex;
        align-items: center;

        gap: 20px;
   }
        .contenedor-foto-header{
            width: 100%;
            max-width: 70px;    
            outline: 5px solid #959aa0ed;
            border-radius:  100%;
            padding: 15px;
        }
            .contenedor-medalla{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
            .nombre-text-header{
                font-weight: 700;
                font-family: "Roboto";
            }
    .contenedor-menu{
        display: flex;

        /* justify-self: flex-end; */
        max-height: 40px;
        max-width: 50px;
    }
        .btn-menu{
                background-color: rgb(82, 81, 80);
                color: #fff;
                border: 0px solid;
                padding: 10px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: calc(.5rem + 2vw);
            }
        .btn-menu:active{
            background-color: #fff;
            color: rgb(82, 81, 80);
            transform: scale(.9);
            transition: transform .7s;
        }
        .btn-menu:hover{
            opacity: .8;
        }
                .icon-menu{
                    font-family: "Roboto";
                }

    .contenedor-descripcion{
        display: flex;
        width: max-content;
        border: 10px solid #959aa0ed;
        /* max-width: 420px; */
        border-radius: 10px;
        padding: 10px;
        gap: 5px;
        background-color: #b5bdc7;
    }
        .puntos, .record, .tiempo{
            font-weight: 700;
            gap: 3px;
            
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            font-family: "roboto";
            align-items: center;
            font-size: 20px;
        }    
    
        #puntos, #record, #tiempo{
            font-size: 20px;
            font-family: "roboto";
        }    
        
    
    .contenedor-canvas{
        display: flex;
      
        max-width: 420px;
        max-height: 420px;
        /* min-height: max-content; */
        border-radius: 10px;
        background-color: #959aa0ed;
        
        height: 100%;
        width: 300%;
        overflow: hidden;
    }
    .contenedor-canvas-slider{
        width: 100%;
        padding: 10px;
        height: 100%;
        min-height: 420px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        /* gap: 5px; */
        
        /* justify-content: center; */
        /* align-items: center; */
        transition: margin .5s;
        margin-left: 00%;
        /* outline: 2px solid royalblue; */
    }
        #screen-game{
                background-color: #b5bdc7;
                border-radius: 8px;

            }
        .screen{
            width: 100%;
            min-width: 400px;
            max-width: 400px;
            display: flex;
            flex-direction: row;
            padding:  15px;
            background-color: #e2e6ea;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
            border-radius: 10px;
        }   

            .text-finish{
                flex: 1 1 100%;

                /* display: flex; */
                height: min-content;
                /* border: 1px solid; */
                font-family: "roboto";
                text-align: center;
                font-weight: 800;
                letter-spacing: 1px;
                font-size: calc(1rem + 2vw);
                color: rgb(102, 102, 102);
            }
            .contenedor-foto-perfil{
                /* border: 1px solid red; */
                flex: 1 1 50%;
                width: calc(100px + 7vw);
                max-width: 150px;
                height: min-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                /* justify-content: center; */

            }
                .contenedor-foto{
                    width: calc(100px + 7vw);
                    max-width: 120px;    
                    outline: 5px solid #959aa0ed;
                    border-radius:  100%;
                    padding: 30px;
                }
                    #foto{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                .nombre-text{
                    text-align: center;
                    font-size: calc(.6rem + 1.2vw);
                }
                .contenedor-medalla{

                }
            .contenedor-clasificacion{
                /* border: 1px solid saddlebrown; */
                flex: 1 1 50%;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
                .contenedor-puntos-realizados, .contenedor-puntos-record, .contenedor-tiempo{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }
                    .text-puntos, .text-record, .text-tiempo{
                        font-size: 20px;
                        font-family: "roboto";
                        font-weight: 700;
                        color: #525252;
                        font-size: calc(.4rem + 1vh) !important;
                    }
                    .puntos, .record, .tiempo{
                        padding: 0px 30px !important;
                        font-size: calc(.5rem + 1.5vh) !important;
                    }
                
                .btns{
                    flex: 1 1 100%;
                    align-self: center;
                    width: 100%;
                    display: flex;
                    /* padding: 5px; */
                    height: min-content;
                    gap: 5px;
                }
                    .jugar-denuevo, .agregar-mas-palabras
                    {
                        width: 100%;
                        height: min-content;
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        font-family: "roboto";
                        background-color: #adebab;
                        border: 0px solid;
                        border-radius: 5px;
                        font-size: 18px;
                        font-weight: 700;
                        color: #46484a;
                        transition: transform .1s, background-color .2s;
                    }
                    .jugar-denuevo:active, .agregar-mas-palabras:active{
                        transform: scale(.9);
                        background-color: #aaffa8;
                    }

    .contenedor-palabras{
        /* background-color: salmdn; */
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
        .contenedor-palabras-correctas{
            display: flex;
            gap: 10px;
            /* background-color: #899; */
            justify-content: center;
        }
        .contenedor-letra{
            background-color: #525252;
            width: calc(2.5vw + 20px);
            height: calc(2.5vw + 20px);
            display: flex;
            justify-content: center;
            align-items: center;
             


        }
        .letra-correcta{
            display: block;
            color:whitesmoke;
            font-size: calc(1rem + 1vw);   
            font-family: "Palanquin Dark";
        }
        .contenedor-palabras-incorrectas{
            display: flex;
            justify-content: center;
            gap: 15px;
            

        }
            .letra-incorrecta{
                font-size: 18px;
                color: #525252;
                font-weight: 300;
            }
    .contenedor-teclado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
        max-width: 430px;
        padding: 5px;
        min-height: 180px;
    }
    
    .tecla{
        width: auto;
        height: auto;
        padding: calc(5px + 1vw);
        max-width: 60px;
        max-height: 60px;
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .14s;
        background-color: #e2e6ea;
        margin: 0;
        border-radius: 10px;
        font-weight: 700;
        font-size: calc(.5rem + 1.3vw);
        font-family: "Concert One";
        border: 0px solid;
    }   
        .tecla:active{
            
            transform: scale(1.05);
            background-color: #46484a;
            
        }
        .tecla:hover{ 
            outline: 1px solid;
        }
    
.contenedor-modal{
    display: none;
    transition: transform .3s;

}