*{
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
}
html::-webkit-scrollbar{
    width: 8px;
    height: 20px;
    /* display: none; */
    padding: 10px;
    
}
html::-webkit-scrollbar-thumb{
    background-color: #3e8ae6;
    border-radius: 20px;
}   
html{
    width: 100%;
}
body{
    width: 100%;
    background-color: #b5bdc7;
    /* overflow: ; */
    position: relative;
    /* overflow-y: hidden; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
    

    .contenedor-general{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        position: relative;
        /* border: 2px solid green; */

    }   
        .contenedor-header{
            width: 100%;
            background-color:  #b5bdc7;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            position: sticky;
            top: 0%;
        }
            .logo{
                
            }
            .contenedor-menu-login{
                display: flex;
                /* height: 10px; */
                gap: 20px;
                justify-content: center;
                align-items: center;
                /* justify-self: flex-end; */
                
            }   
                #login{
                    padding:5px 15px;
                    background-color: #3e8ae6;
                    color: white;
                    font-family: "Indie flower";
                    font-weight: 900;
                    letter-spacing: 1px;
                    border: 0px solid;
                    border-radius: 3px;
                    font-size: calc(.5rem + .7vw);
                    transition: transform 100ms , background-color 500ms;
                }
                #login:hover{
                    background-color: #086fec;}
                #login:active{
                    transform: scale(.8);
                }
                .btn-menu{
                    height: min-content;
                    background-color: #3e8ae6;
                    color: #fff;
                    border: 0px solid;
                    padding: 5px;
                    border-radius: 5px;
                    font-size: calc(.5rem + 1.6vw);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .btn-menu:active{
                    background-color: #fff;
                    color: rgb(82, 81, 80);
                    transform: scale(.9);
                    transition: transform .7s;
                }
                .btn-menu:hover{
                    opacity: .8;
                }
                        .icon-menu{
                            margin: auto;
                        }
                

        .contenedor-titulo{
            /* word-wrap: break-word; */
            /* word-break: break-all; */

            letter-spacing: 7px;
            width: 100%;
            max-width: 500px;
            text-align: center;
            /* background-color: antiquewhite; */
            font-family: "Indie flower";
            font-weight: 900;
            color: #f4f4f4;
            font-size: calc(1rem + 3.7vw);
            /* color: blue; */
        }
            .titulo{
                user-select: none;
                text-shadow: 2px 3px 3px #023778;
            }

        .contenedor-buttons{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
            .btn{
                padding: 15px 40px;
                font-family: "Indie flower";
                /* font-family: "Roboto"; */
                font-family: "Gloria Hallelujah";

                letter-spacing: 5px;
                font-weight: 600;
                font-size: calc(1rem + .3vw);
                border: 0px solid;
                border-radius: 10px;
                background-color: #3e8ae6;
                transition: transform .1s, background-color .2s;
                color: #ffffff;
            }
                .btn:hover{
                    
                    background-color: #0f72eb;
                    transform: scaleX(1.1);
                    /* font-size: calc(1rem + .4vw); */
                }
                .btn:active{
                    transform: scale(.9);
                    background-color: #0073ff;
                    
                }

    .contenedor-footer{

        width: 100%;
        background-color: #000;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* display: none; */
        transition: display 1s;
        gap: 30px;
        }


        .nombre{
            color: #fff;
            font-family: "Indie flower";
            font-size: calc(1rem + 1vw);
        }

        .btn-redes-footer{
            font-size: calc(1rem + .5vw);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            color: #fff;
            font-family: "Indie flower";
        }
        .contenedor-redes{
                color: white;
                display: flex;
                gap: 10px;
            }
            .contenedor-redes button{
                padding: 10px;
                border-radius: 5px;
                background-color: transparent;
                color: #3e8ae6;
                border: 1px solid #3e8ae6;
                font-size: calc(1rem + .5vw);
                
            }
            .contenedor-redes button:hover{
                box-shadow: 0px 0px 20px #3e8ae6;
                
            }
            .contenedor-redes button:active{
                box-shadow: 0px 0px 20px #3e8ae6;
                color: #fff;
                transform: scale(.9);
                
            }

/* CONTENEDOR DEL MODAL PARA LOGEARSE Y REGISTRARSE */
.contenedor-identificacion{
    /* background-color: #fff; */
    /* max-height: 500px; */
    /* padding: 20px; */
    position: absolute;
    /* border-radius: 10px; */
    /* display: flex; */
    width: 100%;
    height: min-content;
    /* max-height: max-content; */
    /* display: none; */
    top: -100%;
    transition: top .6s;
    /* overflow: hidden; */
    padding: 10px; 
    
}
    .contenedor-identificacion-slider{
        /* padding: 20px; */
        border-radius: 10px;
        display: flex;

        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 10px;
        width: 200%;
        margin-left: 00%;
        height: 100%;
        max-height: 500px;
        transition: margin-left 1s;
    }
        .contenedor-login{
            padding: 20px;
            border-radius: 10px;
            height: 100%;
            width: 100%;
            display:flex ;
            flex-direction: column;
            align-items: center;
            /* flex: 1 0 100%; */
            background-color: #edebeb;
            gap: 20px;
        }
            .contenedor-login-header{
                font-family: "Indie flower";
                letter-spacing: 3px;
                font-size: calc(.6rem + 3vw);
                font-weight: 900;
                /* text-shadow: 1px 2px 3px #0f72eb; */
                
            }
            .contenedor-login-body{
                display: flex;
                flex-direction: column;
                align-self: center;
                width: 100%;
                max-width: 300px;
                /* border: 1px solid darkblue; */
                gap: 30px;
                /* align-items: center; */
            }
            
                .label-login{
                    display: flex;
                    font-family: "Indie flower";
                    flex-direction: column;
                    font-size: calc(.5rem + 1.4vw);
                    position: relative;
                }
                    .label-text{
                        position: absolute;
                        top: 0;
                        transition: top .2s;
                        /* top: -30px; */
                    }
                    .input-login{
                        font-family: "Indie flower";
                        padding: 5px;
                        font-weight: 900;
                        background-color: transparent;
                        border: 2px solid #0073ff;
                        border-width: 0px 0px 3px 0px;
                        font-size: calc(.5rem + 1vw);
                        outline: none;
                    }
                    .input-login:focus ~ .label-text{
                        /* position: relative; */
                        top: -53%;
                    }
            .contenedor-login-footer{
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-self: center;
            }

                .btn-login{
                    flex: 1 1 ;
                    padding: 10px 40px;
                    font-family: "Indie flower";
                    font-size: calc(.9rem + .6vw);
                    background-color: #fff;
                    border: none;
                    color: #0073ff;
                    border-radius: 10px;
                    transition: transform .1s;
                }
                .btn-login:active{
                    transform: scale(.9);
                }
                .btn-login:hover{
                    background: #0073ff;
                    color: #fff;
                }








        .contenedor-registro{
            width: 100%;
            height: 100%;
            /* max-height: 400px; */
            display: flex;
            padding: 20px;
            flex-direction: row;
            flex-wrap: wrap;
            background-color: #edebeb;
            border-radius: 10px;
            /* flex: 1 0 100%; */
        }

            .contenedor-registro-header{
                display: flex;
                flex-wrap: wrap;
            }
            .contenedor-registro-body{
                display: flex;
                flex-wrap: wrap;
            }

                .contenedor-foto{
                    display: flex;
                    /* flex-wrap: wrap; */
                }
                    .foto{
                        /* width: 100%; */
                    }
                    .foto-img{
                        width: 100%;
                    }
                    .input-rango{

                    }
                    .input-subirArchivo{

                    }
            .contenedor-registro-footer{

            }












.contenedor-modal{
    display: none;
    position: absolute;
    top: -50%;
    transition: top .2s;

}