/* hacer las aniamciones de los modales, de los botones y cambios de pagina con la libreria Velocity.js */
@import './build/css/intlTelInput.css';


*{
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
}
html::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    /* display: none; */
    padding: 10px;
    
}
html::-webkit-scrollbar-thumb{
    background-color: #3e8ae6;
    border-radius: 20px;
}   
html{
    width: 100%;
}
body{
    overflow-x: hidden;
    width: 100%;
    background-color: #b5bdc7;
    /* overflow: ; */
    position: relative;
    /* overflow-y: hidden; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
    

    .contenedor-general{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        position: relative;
        /* border: 2px solid green; */

    }   
        .contenedor-header{
            width: 100%;
            background-color:  #b5bdc7;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            position: sticky;
            top: 0%;
        }
            .logo{
                
            }
            .contenedor-menu-login{
                display: flex;
                /* height: 10px; */
                gap: 20px;
                justify-content: center;
                align-items: center;
                /* justify-self: flex-end; */
                
            }   
                #login{
                    padding:5px 15px;
                    background-color: #3e8ae6;
                    color: white;
                    font-family: "Indie flower";
                    font-weight: 900;
                    letter-spacing: 1px;
                    border: 0px solid;
                    border-radius: 3px;
                    font-size: calc(.5rem + .7vw);
                    transition: transform 100ms , background-color 500ms;
                }
                #login:hover{
                    background-color: #086fec;}
                #login:active{
                    transform: scale(.8);
                }
                .btn-menu{
                    height: min-content;
                    background-color: #3e8ae6;
                    color: #fff;
                    border: 0px solid;
                    padding: 5px;
                    border-radius: 5px;
                    font-size: calc(.5rem + 1.6vw);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .btn-menu:active{
                    background-color: #fff;
                    color: rgb(82, 81, 80);
                    transform: scale(.9);
                    transition: transform .7s;
                }
                .btn-menu:hover{
                    opacity: .8;
                }
                        .icon-menu{
                            margin: auto;
                        }
                

        .contenedor-titulo{
            /* word-wrap: break-word; */
            /* word-break: break-all; */

            letter-spacing: 7px;
            width: 100%;
            max-width: 500px;
            text-align: center;
            /* background-color: antiquewhite; */
            font-family: "Indie flower";
            font-weight: 900;
            color: #f4f4f4;
            font-size: calc(1rem + 3.7vw);
            /* color: blue; */
        }
            .titulo{
                user-select: none;
                text-shadow: 2px 3px 3px #023778;
            }

        .contenedor-buttons{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
            .btn{
                padding: 15px 40px;
                font-family: "Indie flower";
                /* font-family: "Roboto"; */
                font-family: "Gloria Hallelujah";

                letter-spacing: 5px;
                font-weight: 600;
                font-size: calc(1rem + .3vw);
                border: 0px solid;
                border-radius: 10px;
                background-color: #3e8ae6;
                transition: transform .1s, background-color .2s;
                color: #ffffff;
            }
                .btn:hover{
                    
                    background-color: #0f72eb;
                    transform: scaleX(1.1);
                    /* font-size: calc(1rem + .4vw); */
                }
                .btn:active{
                    transform: scale(.9);
                    background-color: #0073ff;
                    
                }

    .contenedor-footer{

        width: 100%;
        background-color: #000;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* display: none; */
        transition: display 1s;
        gap: 30px;
        }


        .nombre{
            color: #fff;
            font-family: "Indie flower";
            font-size: calc(1rem + 1vw);
        }

        .btn-redes-footer{
            font-size: calc(1rem + .5vw);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            color: #fff;
            font-family: "Indie flower";
        }
        .contenedor-redes{
                color: white;
                display: flex;
                gap: 10px;
            }
            .contenedor-redes button{
                padding: 10px;
                border-radius: 5px;
                background-color: transparent;
                color: #3e8ae6;
                border: 1px solid #3e8ae6;
                font-size: calc(1rem + .5vw);
                
            }
            .contenedor-redes button:hover{
                box-shadow: 0px 0px 20px #3e8ae6;
                
            }
            .contenedor-redes button:active{
                box-shadow: 0px 0px 20px #3e8ae6;
                color: #fff;
                transform: scale(.9);
                
            }

/* CONTENEDOR DEL MODAL PARA LOGEARSE Y REGISTRARSE */
.contenedor-identificacion{
    /* background-color: #fff; */
    /* max-height: 500px; */
    /* padding: 20px; */
    position: absolute;
    /* border-radius: 10px; */
    /* display: flex; */
    width: 100%;
    height: min-content;
    /* max-height: max-content; */
    /* display: none; */
    top: -100%;
    transition: top .6s;
    /* overflow: hidden; */
    padding: 10px; 
    
}
    .contenedor-identificacion-slider{
        /* padding: 20px; */
        border-radius: 10px;
        display: flex;

        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 10px;
        width: 200%;
        margin-left: 00%;
        height: 100%;
        max-height: 500px;
        transition: margin-left 1s;
    }
        .contenedor-login{
            padding: 20px;
            border-radius: 10px;
            height: 100%;
            min-height: 500px;
            /* border: 1px solid; */
            width: 100%;
            display:flex ;
            flex-direction: column;
            align-items: center;
            /* flex: 1 0 100%; */
            background-color: #edebeb;
            gap: 30px;
        }
            .contenedor-login-header{
                font-family: "Indie flower";
                letter-spacing: 3px;
                font-size: calc(.6rem + 3vw);
                font-weight: 900;
                /* text-shadow: 1px 2px 3px #0f72eb; */
                
            }
            .contenedor-login-body{
                display: flex;
                flex-direction: column;
                align-self: center;
                width: 100%;
                max-width: 300px;
                /* border: 1px solid darkblue; */
                gap: 0px;
                /* align-items: center; */
            }
            
                .label-form{
                    /* LOS DISEÑOS ESTAN ABAJO EN EL INPUT REGISTER */
                    /* display: flex;
                    font-size: calc(.5rem + 1.4vw);
                    position: relative;
                    gap: 30px; */

                }
                    .label-text{
                        
                        font-size: 18px;
                        color: rgb(86, 85, 85);
                    }
                    .contenedor-input{
                        background-color: #cecece;
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        border-radius: 5px;
                        height: min-content;
                        padding: 5px;
                        justify-content: space-between;
                    }
                        .input{
                            flex: 0 1 90%;
                            font-family: "Roboto";
                            padding: 7px;
                            font-weight: 500;
                            background-color: transparent;
                            border: 0px solid #0073ff;
                            /* max-width: 250px; */
                            /* border-width: 0px 0px 3px 0px; */
                            font-size: 16px;
                            outline: none;
                            border-radius: 7px;
                            cursor: pointer;

                        }
                        #numero-usuario{
                            max-width: 250px;
                        }
                        #icono-input-invalid{
                            flex: 0 1 5%;
                            border: 1px solid;
                            background-color: #f04;
                            color: #fff;
                            padding: 5px;
                            border-radius: 100%;
                            display: flex;
                            height: min-content;
                            justify-content: center;
                            align-items: center;
                            font-size: 10px;
                            justify-self: flex-end;
                            align-self: center;
                        }
                        #icono-input-valid{
                            flex: 0 1 5%;
                            background-color: inherit;
                            color: #fff;
                            padding: 5px;
                            justify-self: flex-end;
                            border-radius: 100%;
                            display: flex;
                            /* height: min-content; */
                            justify-content: center;
                            align-items: center;
                            font-size: 10px;
                        }
                    .checkbox{
                        display: flex;
                        gap: 10px;
                        font-size: 15px;
                        align-self: center;
                    }
                    
            .contenedor-login-footer{
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-self: center;
            }

                .btn-login{
                    flex: 1 1 ;
                    padding: 10px 40px;
                    font-family: "Indie flower";
                    font-size: calc(.9rem + .6vw);
                    background-color: #fff;
                    border: none;
                    color: #0073ff;
                    border-radius: 10px;
                    transition: transform .1s;
                }
                .btn-login:active{
                    transform: scale(.9);
                }
                .btn-login:hover{
                    background: #0073ff;
                    color: #fff;
                }








        .contenedor-registro{
            width: 100%;
            height: 100%;
            /* max-height: 400px; */
            display: flex;
            padding: 10px;
            flex-direction: column;
            /* flex-wrap: wrap; */
            gap: 20px;
            background-color: #edebeb;
            border-radius: 10px;
            /* flex: 1 0 100%; */
        }

            .contenedor-registro-header{
                display: flex;
                /* flex-wrap: wrap; */
                /* border: 1px solid salmon; */
                width: 100%;
                align-items: center;
                justify-content: space-between;
            }
                .titulo-header{

                    font-size: calc(.7rem + 1vw);
                    font-family: "Indie flower";
                }
                .contenedor-icono{
                    padding: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    /* width: 100%; */
                    background-color: #f04;
                    border-radius: 50%;
                    align-self: flex-end;
                    border: 0px solid;
                }
                .contenedor-icono:active{
                    transform: scale(.9);
                }
                .icon-cross{
                    font-size: calc(.4rem + .9vw);
                    color: #fff;
                }


            .contenedor-registro-body{
                display: flex;
                width: 100%;
                /* border: 1px solid saddlebrown; */
            }
                .contenedor-foto{
                    /* border: 1px solid #f70; */
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 30px;
                    justify-content: center;
                    /* flex-wrap: wrap; */
                }
                    .foto{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        gap: 20px;
                        /* border: 1px solid blue; */
                        padding: 5px;
                        align-items: center;
                        /* background-color: #bacbf2; */
                        /* background-image: url("./img/bg.jpg");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover; */
                    }
                        .foto-img{
                            flex: 0 0 50%;
                            /* max-width: 100px; */
                            overflow: hidden;
                            
                            min-height: 160px;
                            max-height: 160px;
                            /* display: none; */
                            object-fit: cover;
                            /* border-radius: 10px; */
                            border: 4px solid green;
                            /* width: 100%; */

                        }
                    
                        .preview-foto{
                            flex: 0 0 50%;
                            max-width: 50%;
                            max-height: 100%;
                            /* max-height: 320px; */
                            padding: 5px;
                            border: 2px solid #4a4a4b;
                            border-radius: 100%;
                        }
                    .contenedor-input-subirFoto{
                        border: 0px solid;
                        border-radius: 5px;
                        padding: 5px;
                        background-color: #676767;
                        position: relative;
                        display: flex;
                        justify-content: center;
                    }
                    .contenedor-input-subirFoto:active , .abrir-galeria:active {
                        transform: scale(.96);
                        background-color: rgb(143, 141, 141);

                    }
                        .contenedor-input-subirFoto span{
                            text-align: center;
                            color: #fafafa;
                            font-size: 20px;
                        }
                        .input-subirArchivo{
                            position: absolute;
                            opacity: .0;
                            /* visibility: hidden; */
                            /* flex: 1 1 100%; */
                            /* width: 100%;} */
                        }
                    .abrir-galeria{
                        /* flex: 1 1 100%; */
                        width: 100%;
                        background-color: #676767;
                        /* border: 1px solid green; */
                        padding: 5px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;



                    }
                            .icon-abrir-galeria{
                                font-size: 20px;
                                color: #fff;

                            }
                            .btn-abrir-galeria{
                                /* padding: 10px; */
                                /* width: 100%; */
                                display: flex;
                                border-radius: 50%;
                                background: transparent;
                                border: 0px solid;
                                transition: transform 200ms;

                            }
                            .btn-abrir-galeria:active{
                                transform: scale(.9);
                                
                            } 
                            .btn-abrir-galeria:active > .icon-abrir-galeria{
                                animation: none;

                            }
                            .icon-abrir-galeria:hover{
                                animation: sacurdir 2s ease 0s infinite normal;

                            }

                    @keyframes sacurdir {
                        0%,
                        100% {
                            transform: rotate(0deg);
                            /* transform-origin: 50% 50%; */
                        }
                    
                        10% {
                            color: green;
                            transform: rotate(8deg);
                        }
                    
                        20%,
                        40%,
                        60% {
                            transform: rotate(-20deg);
                        }
                    
                        30%,
                        50%,
                        70% {
                            transform: rotate(20deg);
                        }
                    
                        80% {
                            transform: rotate(-8deg);
                        }
                    
                        90% {
                            transform: rotate(8deg);
                        }
                    }
                    .contenedor-galeria{
                        /* flex: 1 1 100%; */
                        /* border: 1px solid; */
                        background-color: rgb(184, 181, 181);
                        width: 100%;
                        display: flex;
                        gap: 10px;
                        justify-content: center;
                        transform-origin: top;
                        max-height: 0;
                        overflow-x: hidden;
                        overflow-y: scroll;
                        flex-wrap: wrap;
                        transition: max-height 0.3s;
                    }
                    .contenedor-galeria::-webkit-scrollbar{
                        width: 6px;
                        height: 5px;
                        /* display: none; */
                        /* padding: 20px; */
                    }
                    .contenedor-galeria::-webkit-scrollbar-thumb{
                        background-color: #3e8ae6;
                        border-radius: 10px;
                    }
                        .item-galery{
                            padding: 5px;
                            box-shadow: 0px 0px 4px #000;
                            /* border: 2px solid #3e8ae6; */

                            /* flex: 1 1; */
                            /* width: 100%;
                            height: 100%; */
                            border-radius: 5px;
                            max-width: 90px;
                            background-color: rgb(255, 255, 255);
                            object-fit: cover;
                            width: 100%;                            
                            /* height: 100%; */
                        }
                        .item-galery:hover{
                            filter: grayscale(100%);
                        }
                        
                .contenedor-formulario{
                    max-width: 300px;
                    flex: 1 0 50%;

                    /* border: 1px solid salmon; */
                    display: flex;
                    flex-direction: column;
                    /* padding: 40px 10px; */
                    justify-content: center;
                    gap: 0px;
                    /* justify-content: center; */
                }   
                    
                        .label-form{
                            display: flex;
                            /* gap: 5px; */
                            flex-direction: row;
                            position: relative;
                            width: 100%;
                            min-height: 100px;
                            flex-wrap: wrap;
                            gap: 5px;
                        }
                            
                            .porcentaje{
                                /* padding: 2px; */

                                width: 8%;
                                font-size: 12px;
                                /* align-self: flex-end; */
                                font-family: "Roboto";
                                font-weight: 700;
                                /* letter-spacing: 2px; */
                            }
                            .span-alert{
                                font-size: 12px;
                                font-family: "Roboto";
                                width: 90%;
                                height: 30px;
                                min-height: 30px;
                                /* padding: 2px; */
                                color: #676767;
                                /* display: flex; */
                                /* flex-wrap: wrap; */
                                /* flex-direction: column; */
                                /* border: 1px solid; */
                            }
                            .label-text{
                                font-size: 16px;
                                color: rgb(86, 85, 85);
                                display: flex;
                                width: 100%;
                                /* flex-direction: column; */

                                /* width: 100%; */
                                justify-content: space-between;
                                font-family: "Roboto";
                            }
                                .mostrar-contraseña{
                                    display: flex;
                                    gap: 10px;
                                    font-size: 14px;
                                    font-family: inherit;
                                    align-items: center;
                                    
                                    cursor: pointer;
                                    padding: 2px;
                                    border-radius: 20px;
                                    background-color: #cecece;
                                    border: 0px solid;
                                    position: relative;
                                    width: 35px;
                                    height: 20px;
                                    padding: 2px;
                                    cursor: pointer;
                                }
                               
                                .mostrar-contraseña input{
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    opacity: 0;
                                    cursor: pointer;

                                }
                                .circle{
                                    border-radius: 100%;
                                    width: 15px;
                                    height: 15px;
                                    /* position: absolute; */
                                    margin-left: 0%;
                                    background-color: #676767;
                                    transition: margin-left .2s;
                                }
                                 
                                .mostrar-contraseña input:checked + .circle{
                                    margin-left: 50%;
                                }   

                            .contenedor-input{
                                width: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                            }
                                #icono-input-invalid{
                                    flex: 0 1 5%;
                                    
                                    /* background-color: #f04; */
                                    color: #fff;
                                    border: 0px solid;
                                    padding: 5px;
                                    border-radius: 100%;
                                    display: flex;
                                    /* height: min-content; */
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 8px;
                                }
                            /* input - se modifico arriba porque es un clase para todos los inputs  */
                            
                                


                   
            .contenedor-registro-footer{
                /* border: 1px solid red; */
                padding: 20px;
                display: flex;
                gap: 20px;
                justify-content: center;
            }
            
                .btn-registro{
                
                
                    font-size: 24px;
                    font-family: "Indie flower";
                    padding: 10px 50px;
                    border-radius: 10px;
                    background-color: #fff;
                    color: #0073ff;
                    border: 0px solid;

                    transition: transform .2s;
                
                }
                .btn-registro:active{
                    transform: scale(.9);
                }
                .btn-registro:hover{
                    background: #0073ff;
                    color: #fff;
                }










#contraseña2-usuario{
    animation: errorAnim .3s 100ms infinite;
}

.contenedor-modal{
    display: none;
    position: absolute;
    top: -50%;
    transition: top .2s;

}













/*
<style>
        .contenedor-backgroud {}

        .contenedor-general {}

        .titulo {}

        .contenedor-bienvenida-text {}

        .contenedor-button {}

        .btn {}

        .btn:hover {
            border: 2px solid #ffa73b;
            background-color: #fff;
        }

        .btn:hover>.link {

            color: #ffa73b;
        }

        .link {}

        .link:active {
            color: #fff;
            text-decoration: none;
        }

        .contenedor-informacion {}

        .informacion-titulo {}

        table {}

        tr {}

        td {}

        th {}

        .contenedor-footer {
            
        }

        .micorreo {
            
        }

        .micorreo:hover {
            color: #ffa73b;

            background-color: #fff;
        }
    </style>

*/
.iti__flag {
    background-image: url("./build/img/flags.png");
    width: 20px;    

}
.iti__arrow{
    display: none;
}
.iti__selected-flag{
}
.iti__arrow{
    width: 100%;
    max-width: 250px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("./build/img/flags@2x.png");}
}